In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_validate

In [42]:
from hashlib import sha1

import altair as alt
#import graphviz
import numpy as np
import pandas as pd
import sklearn

from IPython.display import HTML
from sklearn import tree
from sklearn.dummy import DummyClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
#import test_assignment3 as t

alt.renderers.enable('html')

RendererRegistry.enable('html')

In [49]:
sleep_df = pd.read_csv('sleep.csv')
sleep_df

     Enough  Hours  PhoneReach  PhoneTime  Tired  Breakfast
0         1    8.0           1          1      3          1
1         0    6.0           1          1      3          0
2         1    6.0           1          1      2          1
3         0    7.0           1          1      4          0
4         0    7.0           1          1      2          1
..      ...    ...         ...        ...    ...        ...
97        0    7.0           1          1      2          1
98        0    7.0           0          1      3          1
99        1    8.0           1          1      3          1
100       1    7.0           1          1      2          1
101       1    6.0           1          1      3          1

[102 rows x 6 columns]

In [44]:
X = sleep_df.drop(columns = 'Breakfast')
y = sleep_df['Breakfast']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.2, random_state=77)

In [51]:
X_train.head()

    Enough  Hours  PhoneReach  PhoneTime  Tired
50       0    5.0           1          0      3
86       0    5.0           1          0      4
73       1    7.0           1          1      4
38       0    5.0           1          0      5
23       0    7.0           1          0      3

In [54]:
model = RandomForestClassifier(min_samples_split=2, random_state=77)
model.fit(X_train, y_train)

RandomForestClassifier(random_state=77)

In [56]:
cv_train= model.score(X_train, y_train)
cv_train

0.8641975308641975

In [58]:
cv_score = cross_validate(model, X_train, y_train, return_train_score=True)
cv_score

{'fit_time': array([0.10965085, 0.07891798, 0.07947612, 0.07866573, 0.06317306]),
 'score_time': array([0.01686883, 0.01565123, 0.01562524, 0.        , 0.01570439]),
 'test_score': array([0.52941176, 0.625     , 0.5625    , 0.75      , 0.75      ]),
 'train_score': array([0.875     , 0.87692308, 0.87692308, 0.87692308, 0.86153846])}

In [61]:
cv_score['test_score'].mean()

0.6433823529411764