In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [15]:
classification_df = pd.read_csv('quiz2-grade-toy-classification.csv')
classification_df.head(3)

   ml_experience  class_attendance  lab1  lab2  lab3  lab4  quiz1   quiz2
0              1                 1    92    93    84    91     92      A+
1              1                 0    94    90    80    83     91  not A+
2              0                 0    78    85    83    80     80  not A+

In [16]:
X = classification_df.drop(columns=['quiz2'])
X.head(3)

   ml_experience  class_attendance  lab1  lab2  lab3  lab4  quiz1
0              1                 1    92    93    84    91     92
1              1                 0    94    90    80    83     91
2              0                 0    78    85    83    80     80

In [17]:
y = classification_df['quiz2']
y.head(3)

0        A+
1    not A+
2    not A+
Name: quiz2, dtype: object

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.2)

Decision Tree

In [25]:
X_binary = X.copy()
columns = ["lab1", "lab2", "lab3", "lab4", "quiz1"]
for col in columns:
    X_binary[col] = X_binary[col].apply(
        lambda x: 1 if x >= 90 else 0)
X_binary.head(3)

   ml_experience  class_attendance  lab1  lab2  lab3  lab4  quiz1
0              1                 1     1     1     0     1      1
1              1                 0     1     1     0     0      1
2              0                 0     0     0     0     0      0

In [26]:
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [27]:
new_example = X_train.sample(1)
new_example

    ml_experience  class_attendance  lab1  lab2  lab3  lab4  quiz1
11              1                 1    95    88    93    92     85

In [28]:
model.predict(new_example)

array(['A+'], dtype=object)

In [31]:
model.score(X_train, y_train)

0.5

In [29]:
model.fit(X_binary,y)

DecisionTreeClassifier()

In [30]:
model.predict(new_example)

array(['A+'], dtype=object)

In [32]:
model.score(X_binary, y)

0.9047619047619048