# Analysis of the fate of late bloomer using Canucks data

Replaceing NaN value
the best predictor for the salary

## Read in data

In [1]:
import pandas as pd
import numpy as np
import altair as alt

canucks_original_df = pd.read_csv('https://raw.githubusercontent.com/UBC-MDS/MCL-DSCI-511-programming-in-python/master/data/canucks.csv')
canucks_original_df.head()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
0,Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0
1,Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0
2,Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0
3,Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
4,Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0

In [2]:
canucks_original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player      22 non-null     object
 1   No.         22 non-null     int64
 2   Age         22 non-null     int64
 3   Height      22 non-null     int64
 4   Weight      22 non-null     int64
 5   Country     22 non-null     object
 6   Position    22 non-null     object
 7   Experience  22 non-null     int64
 8   Birth Date  22 non-null     object
 9   Salary      20 non-null     float64
dtypes: float64(1), int64(5), object(4)
memory usage: 1.8+ KB

In [3]:
canucks_original_df.describe(include= 'all').round()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
count,22,22.0,22.0,22.0,22.0,22,22,22.0,22,20.0
unique,22,NaN,NaN,NaN,NaN,4,3,NaN,22,NaN
top,Justin Bailey,NaN,NaN,NaN,NaN,Canada,Forward,NaN,01-Jul-95,NaN
freq,1,NaN,NaN,NaN,NaN,9,13,NaN,1,NaN
mean,NaN,41.0,27.0,188.0,200.0,NaN,NaN,6.0,NaN,3166250.0
std,NaN,24.0,4.0,6.0,16.0,NaN,NaN,4.0,NaN,2164095.0
min,NaN,4.0,20.0,178.0,175.0,NaN,NaN,1.0,NaN,700000.0
25%,NaN,22.0,23.0,185.0,187.0,NaN,NaN,2.0,NaN,925000.0
50%,NaN,39.0,26.0,188.0,200.0,NaN,NaN,6.0,NaN,2800000.0
75%,NaN,57.0,30.0,191.0,212.0,NaN,NaN,9.0,NaN,4625000.0
max,NaN,88.0,34.0,203.0,229.0,NaN,NaN,13.0,NaN,7000000.0

In [4]:
canucks_original_df['Position'].value_counts(['Position'])

Forward    0.590909
Defense    0.318182
Goalie     0.090909
Name: Position, dtype: float64

In [5]:
position_bar = alt.Chart(
    canucks_original_df, width=500, height=300).mark_bar(
        color='Teal', opacity=0.5).encode(
            x='Position',
            y='count()', color = 'mean(Salary)').properties(title='Canuck Player Positions')

                   

position_bar

alt.Chart(...)

In [6]:
canucks_original_df['Country'].value_counts(['Country'])

Canada           0.409091
United States    0.363636
Swedan           0.181818
France           0.045455
Name: Country, dtype: float64

In [7]:
canucks_original_df[canucks_original_df['Salary'].isnull()]

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
9,Quinn Hughes,43,20,178,175,United States,Defense,1,14-Oct-99,NaN
20,Christopher Tanev,8,30,188,197,Canada,Defense,9,20-Dec-89,NaN

In [8]:
canucks_original_df.groupby(by=['Position']).mean().reset_index()

,Position,No.,Age,Height,Weight,Experience,Salary
0,Defense,34.571429,27.285714,187.714286,196.142857,6.428571,3885000.0
1,Forward,45.846154,26.769231,187.153846,201.615385,5.923077,3000000.0
2,Goalie,30.000000,27.000000,195.500000,199.000000,5.500000,2450000.0

In [9]:
salary_chart = alt.Chart(canucks_original_df).mark_bar().encode(x='Experience', y='mean(Salary)', color = 'Position')
salary_chart

alt.Chart(...)

In [10]:
canucks_original_df[canucks_original_df.isnull().any(axis=1)]

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
9,Quinn Hughes,43,20,178,175,United States,Defense,1,14-Oct-99,NaN
20,Christopher Tanev,8,30,188,197,Canada,Defense,9,20-Dec-89,NaN

In [11]:
salary_chart = alt.Chart(canucks_original_df).mark_circle().encode(x='Experience', y='mean(Salary)', color = 'Age',size = "Age")
salary_chart

alt.Chart(...)

In [12]:
position_mean = canucks_original_df.groupby(by='Position').mean().round()
position_mean.reset_index()

  Position   No.   Age  Height  Weight  Experience     Salary
0  Defense  35.0  27.0   188.0   196.0         6.0  3885000.0
1  Forward  46.0  27.0   187.0   202.0         6.0  3000000.0
2   Goalie  30.0  27.0   196.0   199.0         6.0  2450000.0

In [13]:
chart = alt.Chart(position_mean).mark_bar().encode(
    x='Salary',
    y='Experience')
chart

alt.Chart(...)

Identify any columns with null values in the canucks dataframe with .info() and save this as canucks_info.
Create a new column in the dataframe named Wealth where all the values equal "comfortable".
Name the new dataframe canucks_comf.
Do conditional value replacement, where if the value in the Salary column is null, we replace "comfortable" with "unknown".

In [14]:
from sklearn.tree import DecisionTreeRegressor

# Loading in the data
canucks = pd.read_csv('data/canucks_subbed.csv')

# Define X and y
X = canucks.loc[:, ['No.', 'Age', 'Height', 'Weight', 'Experience']]
y = canucks['Salary']

# Create a model
reg_tree = DecisionTreeRegressor(random_state=1, max_depth=8)

# Fit your data 
reg_tree.fit(X,y)

# Score the model
tree_score = reg_tree.score(X,y)
tree_score

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
import pandas as pd
from sklearn.dummy import DummyRegressor

# Loading in the data
canucks = pd.read_csv('data/canucks_subbed.csv')

# Define X and y
X = canucks.loc[:, ['No.', 'Age', 'Height',	'Weight', 'Experience']]
y = canucks['Salary']

# Create a model
model = DummyRegressor(strategy='mean')

# Fit your data 
model.fit(X,y)

# Predict the labels of X
model.predict(X)

# The model accuracy
accuracy = round(model.score(X,y), 2)

accuracy

In [17]:
canucks_original_df[canucks_original_df['Experience'] == 1].mean().Salary

C:\Users\sayo9\AppData\Local\Temp\ipykernel_12600\1475335305.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  canucks_original_df[canucks_original_df['Experience'] == 1].mean().Salary

850000.0

In [18]:
canucks_original_df[canucks_original_df['Experience'] == 9].mean().Salary

C:\Users\sayo9\AppData\Local\Temp\ipykernel_12600\627684119.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  canucks_original_df[canucks_original_df['Experience'] == 9].mean().Salary

4000000.0

In [19]:
(850000 + 4000000) /2

2425000.0

In [21]:
canucks_info = canucks_original_df
#canucks_info["Wealth"] = 'comfortable'
canucks_comf = canucks_original_df.fillna(value='unknown')
canucks_comf

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
0,Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0
1,Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0
2,Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0
3,Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
4,Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0
5,Alexander Edler,23,33,191,212,Swedan,Defense,13,21-Apr-86,7000000.0
6,Loui Eriksson,21,34,188,179,Swedan,Forward,13,17-Jul-85,5000000.0
7,Adam Gaudette,88,23,185,184,United States,Forward,2,03-Oct-96,925000.0
8,Bo Horvat(C),53,24,183,215,Canada,Forward,5,05-Apr-95,5775000.0
9,Quinn Hughes,43,20,178,175,United States,Defense,1,14-Oct-99,unknown
10,Zack MacEwen,71,23,191,205,Canada,Forward,1,08-Jul-96,925000.0
11,Jacob Markstrom,25,30,198,206,Swedan,Goalie,9,31-Jan-90,4000000.0
12,J.T. Miller,9,26,185,218,United States,Forward,7,14-Mar-93,6000000.0
13,Tyler Myers,57,29,203,229,United States,Defense,10,01-Feb-90,7000000.0
14,Tanner Pearson,70,27,185,201,Canada,Forward,6,10-Aug-92,3850000.0
15,Elias Pettersson,40,21,188,176,Swedan,Forward,1,12-Nov-98,925000.0
16,Antoine Roussel,26,30,180,199,France,Forward,7,21-Nov-89,3800000.0
17,Tim Schaller,59,29,188,204,United States,Forward,5,16-Nov-90,1900000.0
18,Troy Stecher,51,25,178,186,Canada,Defense,3,07-Apr-94,2325000.0
19,Brandon Sutter,20,30,191,190,United States,Forward,11,14-Feb-89,4500000.0
20,Christopher Tanev,8,30,188,197,Canada,Defense,9,20-Dec-89,unknown
21,Jake Virtanen,18,23,185,226,Canada,Forward,4,17-Aug-96,1500000.0

Tasks:

Replace the NaN values in the dataframe with the mean salary value.
Save this as a new dataframe named canucks_altered.

In [22]:
canucks_df = canucks_original_df.fillna(value=canucks_original_df['Salary'].mean())
canucks_df.head()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
0,Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0
1,Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0
2,Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0
3,Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0
4,Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0

In [23]:
canucks_df.describe(include='all').round()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
count,22,22.0,22.0,22.0,22.0,22,22,22.0,22,22.0
unique,22,NaN,NaN,NaN,NaN,4,3,NaN,22,NaN
top,Justin Bailey,NaN,NaN,NaN,NaN,Canada,Forward,NaN,01-Jul-95,NaN
freq,1,NaN,NaN,NaN,NaN,9,13,NaN,1,NaN
mean,NaN,41.0,27.0,188.0,200.0,NaN,NaN,6.0,NaN,3166250.0
std,NaN,24.0,4.0,6.0,16.0,NaN,NaN,4.0,NaN,2058465.0
min,NaN,4.0,20.0,178.0,175.0,NaN,NaN,1.0,NaN,700000.0
25%,NaN,22.0,23.0,185.0,187.0,NaN,NaN,2.0,NaN,1068750.0
50%,NaN,39.0,26.0,188.0,200.0,NaN,NaN,6.0,NaN,3166250.0
75%,NaN,57.0,30.0,191.0,212.0,NaN,NaN,9.0,NaN,4375000.0
max,NaN,88.0,34.0,203.0,229.0,NaN,NaN,13.0,NaN,7000000.0

In [24]:
canucks_df['starting age'] = canucks_df['Age'] - canucks_df['Experience']
canucks_df.head()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary,starting age
0,Justin Bailey,38,24,193,214,United States,Forward,4,01-Jul-95,700000.0,20
1,Jay Beagle,83,34,191,210,Canada,Forward,11,16-Oct-85,3200000.0,23
2,Jordie Benn,4,32,188,199,Canada,Defense,8,26-Jul-87,2400000.0,24
3,Guillaume Brisebois,56,22,188,175,Canada,Defense,1,21-Jul-97,700000.0,21
4,Thatcher Demko,35,24,193,192,United States,Goalie,2,08-Dec-95,900000.0,22

In [25]:
start_age_chart = alt.Chart(canucks_df).mark_circle().encode(x='starting age', y ='Salary')

start_line = alt.Chart(canucks_df).mark_line(color = 'green').encode(x='starting age', y ='mean(Salary)')

start_age_chart + start_line

alt.LayerChart(...)

In [26]:
canucks_df = canucks_original_df
canucks_df['Country'] = canucks_df['Country'].str.upper()
canucks_df.head()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary
0,Justin Bailey,38,24,193,214,UNITED STATES,Forward,4,01-Jul-95,700000.0
1,Jay Beagle,83,34,191,210,CANADA,Forward,11,16-Oct-85,3200000.0
2,Jordie Benn,4,32,188,199,CANADA,Defense,8,26-Jul-87,2400000.0
3,Guillaume Brisebois,56,22,188,175,CANADA,Defense,1,21-Jul-97,700000.0
4,Thatcher Demko,35,24,193,192,UNITED STATES,Goalie,2,08-Dec-95,900000.0

In [27]:
canucks_df['States'] = canucks_df['Country'].str.count('STATES')
canucks_df.head()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary,States
0,Justin Bailey,38,24,193,214,UNITED STATES,Forward,4,01-Jul-95,700000.0,1
1,Jay Beagle,83,34,191,210,CANADA,Forward,11,16-Oct-85,3200000.0,0
2,Jordie Benn,4,32,188,199,CANADA,Defense,8,26-Jul-87,2400000.0,0
3,Guillaume Brisebois,56,22,188,175,CANADA,Defense,1,21-Jul-97,700000.0,0
4,Thatcher Demko,35,24,193,192,UNITED STATES,Goalie,2,08-Dec-95,900000.0,1

In [28]:
canucks_df['Player'].str.split(expand  = True).head()

           0          1     2
0     Justin     Bailey  None
1        Jay     Beagle  None
2     Jordie       Benn  None
3  Guillaume  Brisebois  None
4   Thatcher      Demko  None

In [29]:
canucks_df['Age'] = canucks_df['Age'].astype('str') + ' years old'
canucks_df.head()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary,States
0,Justin Bailey,38,24 years old,193,214,UNITED STATES,Forward,4,01-Jul-95,700000.0,1
1,Jay Beagle,83,34 years old,191,210,CANADA,Forward,11,16-Oct-85,3200000.0,0
2,Jordie Benn,4,32 years old,188,199,CANADA,Defense,8,26-Jul-87,2400000.0,0
3,Guillaume Brisebois,56,22 years old,188,175,CANADA,Defense,1,21-Jul-97,700000.0,0
4,Thatcher Demko,35,24 years old,193,192,UNITED STATES,Goalie,2,08-Dec-95,900000.0,1

In [30]:
canucks_df['Country'] = canucks_df['Country'].str.capitalize()
canucks_df['Country'] = canucks_df['Country'].str.title()

canucks_df.head()

,Player,No.,Age,Height,Weight,Country,Position,Experience,Birth Date,Salary,States
0,Justin Bailey,38,24 years old,193,214,United States,Forward,4,01-Jul-95,700000.0,1
1,Jay Beagle,83,34 years old,191,210,Canada,Forward,11,16-Oct-85,3200000.0,0
2,Jordie Benn,4,32 years old,188,199,Canada,Defense,8,26-Jul-87,2400000.0,0
3,Guillaume Brisebois,56,22 years old,188,175,Canada,Defense,1,21-Jul-97,700000.0,0
4,Thatcher Demko,35,24 years old,193,192,United States,Goalie,2,08-Dec-95,900000.0,1

Lets make an object named position_column that consists of just the Position column. Note we will be using this for value_counts so we must do this with only using single [] brackets.
Find the frequencies of the position for the hockey team using .value_counts() and save it as position_freq.
Export position_freq to a csv named position_frequencies.csv using .to_csv().

In [31]:
canucks_df['position_column'] = canucks_df['Position']
position_freq = canucks_df['position_column'].value_counts()
position_freq
position_freq.to_csv('position_frequencies.csv', index=False)